# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32
NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET = 

DATABASE_URL = postgres://postgres:postgres@localhost:5432/postgres

TYPESENSE_API_KEY=test
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hackyx

NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=xyz
NEXT_PUBLIC_TYPESENSE_HOST=localhost
NEXT_PUBLIC_TYPESENSE_PORT=8108
NEXT_PUBLIC_TYPESENSE_PROTOCOL=http

NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x11111111111111111111
TURNSTILE_SECRET_KEY=0x11111111111111111111

GITHUB_ID=
GITHUB_SECRET=

ADMINS=

BROWSERLESS_URL="ws://localhost:3000/firefox/playwright"

INOREADER_HACKYX_KEY=test