# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32
NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET = 

DATABASE_URL = postgres://postgres:postgres@localhost:5432/postgres

NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=xyz
NEXT_PUBLIC_TYPESENSE_HOST=localhost
NEXT_PUBLIC_TYPESENSE_PORT=8108
NEXT_PUBLIC_TYPESENSE_PROTOCOL=http